@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

ul.pagination {
    @apply flex justify-center gap-2 ;
}

li.page-item {
    @apply px-2 py-1 bg-blue-600 rounded-lg text-white;
}
